.advantages {
  padding-bottom: 21px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  color: $color-secondary-font;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;
}

.advantages__description {
  position: relative;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;

  &::before {
    position: absolute;
    top: -1px;
    left: -80px;

    width: 60px;
    height: 60px;

  content: "";

  background-color: $color-interactive;
  }

  &::after {
    position: absolute;
    top: 3px;
    left: -76px;

    width: 50px;
    height: 50px;

    content: "";

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.advantages__item--leaf .advantages__description {
  &::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }
}

.advantages__item--powder .advantages__description {
  &::after {
    background-image: url("../img/advantage-powder@1x.png");
  }
}

.advantages__item--dining .advantages__description {
  &::after {
    background-image: url("../img/advantage-dining@1x.png");
  }
}

.advantages__item--clock .advantages__description {
  &::after {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-resolution: 1.5dppx) {
  .advantages__item--leaf .advantages__description {
    &::after {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  .advantages__item--powder .advantages__description {
    &::after {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  .advantages__item--dining .advantages__description {
    &::after {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  .advantages__item--clock .advantages__description {
    &::after {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 28px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

    .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 324px;
    margin: 0;
    padding: 0;
    padding-top: 96px;
    padding-bottom: 27px;

    &:nth-child(2n) {
      margin-bottom: 90px;
    }

    &:last-child {
      margin-bottom: 37px;
    }

    &::before {
      position: absolute;
      z-index: -1;
      top: -40px;
      left: 118px;

      color: $color-secondary;

      font-size: 282px;
      line-height: 282px;
    }

    &:nth-child(1)::before {
      content: "1";
    }

    &:nth-child(2)::before {
      left: 111px;

      content: "2";
    }

    &:nth-child(3)::before {
      left: 113px;

      content: "3";
    }

    &:nth-child(4)::before {
      left: 113px;

      content: "4";
    }
  }

  .advantages__title {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 71px;
    padding-left: 2px;

    font-size: 60px;
    line-height: 60px;
  }

  .advantages__description {
    width: 245px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    &::before {
      top: -112px;
      left: 0;

      width: 80px;
      height: 80px;
    }

    &::after {
      top: -97px;
      left: 15px;
    }
  }
}


@media (min-width: $desktop-width) {
  .advantages {
    margin-top: 29px;
    margin-left: 39px;
    margin-right: 40px;
    margin-bottom: 4px;
    padding: 0;

    border-bottom: none;
  }

  .advantages__title {
    padding-bottom: 73px;
  }


  .advantages__item {
    width: 245px;
    padding-bottom: 0;
  }

}

