.advantages {
  padding-bottom: 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 28px;

  color: $color-secondary-font;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
}

.advantages__description {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
}

.advantages__item::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  content: "";

  background-color: $color-interactive;
}

.advantages__item::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  content: "";

  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--leaf::after {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages__item--powder::after {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__item--dining::after {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__item--clock::after {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 50px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

    .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    counter-reset: section;
  }

  .advantages__item {
    display: block;

    width: 250px;
    margin-bottom: 130px;
    padding: 113px 80px 0 0;
  }

  .advantages__title {
    margin: 46px 0;

    font-size: 60px;
    line-height: 60px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
  }
}


@media (min-width: $desktop-width) {
  .advantages {
    margin-top: 29px;

    border-bottom: none;
  }
  .advantages__item {
    margin-bottom: 20px;
    padding: 110px 0 50px;
  }

}

