.additional-products__banner {
  margin-bottom: 35px;
  height: 290px;
}

.banner {
  color: $color-interactive-text;
  background-color: $color-interactive;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 187px;
  padding-bottom: 42px;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 113px;

    width: 55px;
    height: 60px;

    background-image: url("../img/icon-gift.svg");
    background-size: cover;
  }
}

.banner__description {
  width: 170px;
  margin: 0;

  text-align: center;

  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .additional-products__banner {
    margin-bottom: 75px;
  }

  .banner {
    display: block;
    justify-content: space-between;
    padding: 0;
  }

  .banner__description {
    width: 325px;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 100px;
    padding-bottom: 70px;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__banner {
    width: 245px;
  }

  .banner__description {
    width: 180px;
    padding: 0;
    text-align: center;
  }
}
