.button {
  display: block;

  padding: 11px 11px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  color: $color-interactive-text;
  border: none;
  background-color: $color-interactive;

  font-size: 14px;
  line-height: 18px;

  &:hover {
    background-color: $color-interactive--dark;
  }

  &:active {
    color: $color-interactive-text--lighten;
    background-color: $color-interactive--dark;
  }
}
