.button {
  display: block;
  padding: 11px 11px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #aed895;
  cursor: pointer;
}
