.page-main__title {
  margin-bottom: 40px;

  color: $color-secondary-font;

  font-size: 36px;
  line-height: 60px;
}

.catalog__item {
  margin-bottom: 25px;

  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }
}

.catalog__item__link {
  margin-bottom: 14px;

  text-transform: uppercase;

  color: $color-secondary-font;

  font-size: 16px;
  line-height: 20px;
}

.catalog__line {
  list-style: none;
}

.catalog__value {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;

  text-align: left;

  font-size: 12px;
  line-height: 16px;
}

.catalog__field {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;

  text-align: right;

  font-size: 12px;
  line-height: 16px;
}

.catalog__wrapper--add {
  border-bottom: 1px solid #ededed;
}

.catalog__wrapper--add::before {
  display: block;

  width: 30px;
  height: 30px;

  content: "";
  transform: translate(-50%);

  opacity: 0.2;
  background-image: url("../img/icon-plus-mobile.svg");
}

.catalog__add-text {
  margin-bottom: 8px;

  text-transform: uppercase;

  color: $color-secondary-font;

  font-size: 16px;
  line-height: 20px;
}

.catalog__add-description {
  margin: 0;
  margin-bottom: 30px;

  text-align: center;

  font-size: 12px;
  line-height: 16px;
}

.button--add {
  margin-bottom: 30px;

  text-transform: uppercase;

  font-size: 16px;
  line-height: 20px;

  color: $color-main-font;

  background-color: $color-secondary;
  width: 100%;
}

