.food-program {
  display: flex;
  flex-direction: column;
}

.food-program__item {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;

  background-color: $color-secondary;
  height: 260px;
}

.food-program__title {
  position: relative;

  margin: 0;
  margin-bottom: 32px;
  padding-left: 20px;
  padding-top: 20px;

  text-align: center;
  text-transform: uppercase;

  color: $color-secondary-font;

  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
}

.food-program__title::before {
 position: absolute;
 top: 20px;
 left: 20px;

  width: 50px;
  height: 50px;

  content: "";

  border-radius: 50%;
  background-color: $color-interactive;
}

.food-program__title::after {
  position: absolute;

  content: "";

  background-repeat: no-repeat;
}

.food-program__title--slim::after {
  top: 22px;
  left: 20px;

  width: 39px;
  height: 50px;

  background-image: url("../img/icon-cat-slim.svg");
}

.food-program__title--pro::after {
  top: 30px;
  left: 12px;

  width: 69px;
  height: 27px;

  background-image: url("../img/icon-cat-pro.svg");
}

.food-program__info {
  margin: 0;
  padding-bottom: 25px;
  padding-left: 20px;
  margin-bottom: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  font-size: 14px;
  line-height: 18px;
}

.food-program__link {
  text-transform: uppercase;

  color: $color-secondary-font;

  font-size: 16px;
  line-height: 16px;
}

.food-program__link-description {
  position: relative;

  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 25px;
}

.food-program__link-description::before {
  position: absolute;
  top: 6px;
  right: -38px;

  width: 23px;
  height: 12px;

  content: "";

  background-image: url("../img/icon-right-arrow-long.svg");
}

@media (min-width: $tablet-width) {
   width: 370px;

   .food-program__title {
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    padding-top: 80px;
    padding-left: 55px;

    text-align: left;

    font-size: 36px;
    line-height: 37px;
  }

  .food-program__info {
    width: 370px;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    padding-left: 55px;

    border-bottom: none;

    font-size: 16px;
    line-height: 24px;
  }

  .food-program__link {
    padding-left: 50px;

    font-size: 20px;
    line-height: 20px;

  }

  .food-program__link-description {
    position: relative;

    margin: 0;
    margin-bottom: 60px;
    padding: 0;
  }

  .food-program__title::before {
    position: absolute;
    top: 50px;
    left: 430px;

     width: 200px;
     height: 200px;

     content: "";

     border-radius: 50%;
     background-color: $color-interactive;
   }

   .food-program__title--slim::after {
    top: 30px;
    left: 475px;

    width: 140px;
    height: 205px;

    background-image: url("../img/icon-cat-slim.svg");
  }

  .food-program__title--pro::after {
    top: 100px;
    left: 390px;

    width: 285px;
    height: 145px;

    background-image: url("../img/icon-cat-pro.svg");
  }
}

@media (min-width: $desktop-width) {
  .food-program {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .food-program__item {
    width: 570px;
    height: 380px;
  }

  .food-program__title {
    margin-bottom: 60px;
    margin-top: 50px;
  }

  .food-program__title::before {
    position: absolute;
    top: 0px;
    left: 30px;

     width: 100px;
     height: 100px;

     content: "";

     border-radius: 50%;
     background-color: $color-interactive;
   }

  .food-program__title::after {
    position: absolute;

    content: "";

    background-repeat: no-repeat;
  }

  .food-program__title--slim::after {
    top: -5px;
    left: 60px;

    width: 100px;
    height: 75px;

    background-image: url("../img/icon-cat-slim.svg");
  }

  .food-program__title--pro::after {
    top: 30px;
    left: 12px;

    width: 140px;
    height: 60px;

    background-image: url("../img/icon-cat-pro.svg");
  }

  .food-program__link-description {
    margin-bottom: 60px;
  }
}
