.food-program {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.food-program__item {
  position: relative;

  min-height: 260px;
  margin-top: 25px;

  background-color: $color-secondary;
}

.food-program__item::before {
  position: absolute;
  top: 22px;
  left: 21px;

  width: 50px;
  height: 50px;

  content: "";

  border-radius: 50%;
  background-color: $color-interactive;
}

.food-program__item::after {
  position: absolute;

  content: "";

  background-repeat: no-repeat;
}

.food-program__item--slim::after {
  top: 18px;
  left: 29px;

  width: 40px;
  height: 50px;

  background-image: url("../img/icon-cat-slim.svg");
}

.food-program__item--pro::after {
  top: 33px;
  left: 13px;

  width: 69px;
  height: 27px;

  background-image: url("../img/icon-cat-pro.svg");
}

.food-program__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 26px;
  padding-left: 10px;

  text-align: center;
  text-transform: uppercase;

  color: $color-secondary-font;

  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
}

.food-program__item--pro .food-program__title {
  padding-left: 37px;
}

.food-program__info {
  width: 250px;
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;
  padding-left: 19px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
}

.food-program__link {
  text-transform: uppercase;

  color: $color-secondary-font;

  font-size: 16px;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }
}

.food-program__link-description {
  position: relative;

  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 19px;
}

.food-program__link:hover .food-program__link-description::before,
.food-program__link:active .food-program__link-description::before {
  right: -57px;

  width: 33px;

  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.food-program__link-description::before {
  position: absolute;
  top: 7px;
  right: -35px;

  width: 23px;
  height: 12px;

  content: "";

  background-image: url("../img/icon-right-arrow-long.svg");
}

@media (min-width: $tablet-width) {
  .food-program {
    margin-bottom: 0;
    padding-bottom: 0;
  }


  .food-program__item {
    width: 100%;
    min-height: 376px;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 63px;
    padding-left: 53px;
  }

  .food-program__item::before {
    top: 90px;
    right: 60px;
    left: auto;

    width: 200px;
    height: 200px;
  }

  .food-program__item--slim::after {
    top: 80px;
    right: 92px;
    left: auto;

    width: 140px;
    height: 194px;
  }

  .food-program__item--pro::after {
    top: 134px;
    right: 27px;
    left: auto;

    width: 268px;
    height: 112px;
  }

  .food-program__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    padding-top: 5px;

    text-align: left;

    font-size: 36px;
    line-height: 37px;
  }

  .food-program__item--pro .food-program__title {
    padding-left: 0;
  }

  .food-program__info {
    margin: 0;
    margin-bottom: 56px;
    padding: 0;

    border-bottom: none;

    font-size: 16px;
    line-height: 24px;
  }

  .food-program__item--slim .food-program__info {
    width: 372px;
  }

  .food-program__item--pro .food-program__info {
    width: 340px;
  }

  .food-program__link {
    padding: 0;

    border: none;

    font-size: 20px;
    line-height: 20px;
  }

  .food-program__link-description {
    padding: 0;


    &::before {
      top: 11px;
      right: -47px;
    }
  }
}

@media (min-width: $desktop-width) {
  .food-program {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 34px;
  }

  .food-program__item {
    width: 570px;
    margin: 0;
    padding: 0;
    padding-top: 69px;
    padding-bottom: 40px;

    &::before {
      top: 46px;
      left: 53px;

      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: 40px;
      left: 65px;

      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: 68px;
      left: 34px;

      width: 134px;
      height: 56px;
    }
  }

  .food-program__title {
    margin-bottom: 74px;
    padding-left: 214px;
  }

  .food-program__item--pro .food-program__title {
    padding-left: 214px;
  }


  .food-program__info {
    margin-bottom: 32px;
    padding-left: 52px;
  }

  .food-program__item--slim .food-program__info {
    width: 515px;
  }

  .food-program__item--pro .food-program__info {
    width: 500px;
  }

  .food-program__link-description {
    padding-left: 52px;

    &::before {
      top: 9px;
    }
  }
}
