.page-main__wrapper {
  margin-bottom: 35px;
}

.page-main__title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $color-secondary-font;
}

.page-main__text {
  font-size: 14px;
  line-height: 18px;

  color: $color-secondary-font;
  text-transform: uppercase;
}

.questionary__label {
  display: block;
  margin-right: 15px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 16px;
  line-height: 18px;
  color: $color-third-font;
  text-transform: uppercase;
}

.questionary__input {
  flex-grow: 1;
  height: 46px;
  padding-right: 5px;
  padding-left: 18px;

  border: 1px solid #e7e7e7;
  outline: none;
}

.questionary__input::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: $color-main-font;
  text-transform: uppercase;
}

.questionary__title {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
  padding-right: 24px;
  color: $color-secondary-font;
}
