.page-footer {
  padding-top: 6px;

  background-color: $color-secondary;
}

.page-footer__logo-wrapper {
  display: flex;
  justify-content: center;

  padding-top: 34px;
  padding-bottom: 28px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-footer__logo-link {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-footer__social-wrapper {
  display: flex;
  justify-content: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


@media (min-width: $tablet-width) {
  .page-footer {
    padding: 0;
    padding-top: 45px;
    padding-bottom: 47px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__logo-wrapper {
    display: flex;
    justify-content: flex-start;

    width: 162px;
    padding: 0;
    padding-top: 21px;

    border: none;
  }

  .page-footer__social-wrapper {
    width: 324px;
    padding-right: 18px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-right: 40px;
    padding-left: 40px;
  }
}
