.page-header {
  display: flex;
  flex-direction: column;

  color: $color-secondary-font;
  background-color: $color-main;
}

.page-header__container {
  position: relative;

  padding-bottom: 12px;

  &::before {
    position: absolute;
    right: 50%;
    bottom: 0;

    width: 100vw;
    height: 1px;

    content: "";

    background-color: #e6e6e6;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 100vw;
    height: 1px;

    content: "";

    background-color: #e6e6e6;
  }
}

.page-header__logo {
  width: 190px;
  height: 38px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 11px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}


@media (min-width: $tablet-width) {
.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::before,
  &::after {
      display: none;
  }
}

  .page-header__logo {
    width: 192px;
    padding: 0;

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
.page-header {
  position: relative;

  padding: 0;
  padding-top: 54px;

  background: none;
}

.index .page-header {
  &::before {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 50%;

    width: 50%;
    height: 696px;

    content: "";

    background-color: #64a83b;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.page-header__container {
  position: relative;
}

  .page-header__logo {
    width: 610px;
    padding: 0;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;

    &[href]:hover {
      opacity: 0.8;
    }

    &[href]:active {
      opacity: 0.6;
    }
  }
}
