.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  width: 190px;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 175px;
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 205px;
  }
}
