.promo {
  display: flex;
  flex-direction: column;
}

.promo__title-wrap {
  min-height: 305px;

  text-align: center;

  color: $color-interactive-text;
  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__title {
  width: 270px;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 26px;
  padding-left: 9px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.promo__slogan {
  display: block;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.promo__img-wrap {
  padding-top: 135px;
}

.promo__img-container {
  position: relative;
}

.promo__img {
  position: absolute;
  top: -275px;
  left: 50%;

  width: 280px;
  height: 272px;

  transform: translate(-50%);
}

@media (min-resolution: 1.5dppx) {
  .promo__title-wrap {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    margin: 0;
    padding: 0;
  }

  .promo {
    margin: 0;
    padding: 0;
    padding-bottom: 505px;
    padding-left: 99px;
  }

  .promo__title-wrap {
    min-height: 0;
    margin: 0;
    padding: 0;

    text-align: left;

    background: none;
    background-image: none;
  }

  .promo__title {
    width: 425px;
    padding-top: 24px;
    padding-bottom: 17px;

    color: $color-secondary-font;

    font-size: 60px;
    line-height: 60px;
  }

  .promo__slogan {
    width: 425px;
    padding-bottom: 48px;
    padding-left: 10px;

    color: $color-secondary-font;

    font-size: 20px;
    line-height: 20px;
  }

  .promo__img-wrap {
    padding-top: 0;
  }

  .promo__img {
    z-index: -1;
    top: -28px;
    left: -77px;

    width: 709px;
    height: 609px;

    transform: none;
  }

  .promo__button {
    width: 245px;
    margin-left: 10px;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    justify-content: space-between;

    min-height: auto;
    margin: 0;
    margin-bottom: 270px;
    padding: 0;
  }

  .promo__title-wrap {
    padding-top: 52px;
    padding-left: 71px;

    background: none;
  }

  .promo__title {
    width: 489px;
    padding-bottom: 17px;
  }

  .promo__slogan {
    margin-bottom: 5px;
  }

  .promo__img-wrap {
    padding-left: 78px;
  }

  .promo__img {
    top: -314px;
    right: 336px;
    left: auto;

    width: 552px;
    height: 499px;
  }

  .promo__button {
    margin: 0;
  }
}
