.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 150px;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  &:hover use,
  &:active use {
    fill: $color-interactive;
  }

  &:active use {
    opacity: 0.3;
  }

}

@media (min-width: $tablet-width) {
  .social__list {
    width: 124px;
  }

  .social__link {
    width: auto;
    height: 28px;
  }

  .social-item__link-icon--vk {
    width: 30px;
    height: 16px;
  }

  .social-item__link-icon--inst {
    width: 23px;
    height: 23px;
  }

  .social-item__link-icon--fb {
    width: 14px;
    height: 28px;
  }
}
